/* html5 elements
-------------------------------------------------------- 

*/
header,footer,nav,article,section,aside,figure,figcaption{display:block;}

/**
 * General elements
 */
body {
  background: #B5B5B5;
  color: #333;
  font-family: arial, sans-serif;
}
 
/**
 * Layout of the main page elements 
 */
#wrapper {
  background: #FFFFFF;
  margin: 0 auto;
  width: 980px; 
  border:2px solid #858585;

}
 
 
/**
 * Layout for header
 */
#header {
  padding: 2px 8px;
  background: #656565;
  position: relative;
  height: 100px;
}
 
.sitelogo{
  padding: 8px;

} 
 
.sitetitle {
  color: black;
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 48px;
}
 
.siteslogan {
  color: black;
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
}
 
 
/**
 * Layout for main
 */
#main {
  min-height: 20em;
  padding: 10px;
}


 
 /* navigation menu
-------------------------------------------------------- 

*/
.navmenu {
  font-family: arial;
  font-weight: bold;
  padding: 2px 8px;
  background:#656565;
  border-top:2px solid #858585;
}
.navmenu a {padding:6px 8px;text-decoration:none;border:2px solid transparent;color:#fff;}
.navmenu a:hover {padding:0px 8px;text-decoration:none;border:2px solid #858585;color:#fff;background:#858585;}

.related {
  padding: 0.2em 1em 0.3em 1em;
  font-size:smaller;
}

/* figure & figcaption
-------------------------------------------------------- 

*/
figure {border:1px solid #E6E6E6;padding:4px;margin:1em;text-align:center;}
figcaption {font-style:italic;font-size:smaller;padding-left:1em;}

figure.right{margin-right:0;float:right;}
figure.top{margin-top:0;}
figure.fullwidth{margin-left:0;margin-right:0;}
 
/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
 
.sitefooter {
  color: #666;
}

/**
 * Style for source.php
 */
.src-breadcrumb,
.src-filelist {
  font-family: monospace;
  list-style-type: none;
  padding: 0;
  margin: 0 0 22px 0;
}

.src-breadcrumb li {
  padding: 0;
  margin: 0;
  display: inline;
}

.src-container {
  min-width: 40em;
}

.src-header {
  color: #000;
  border: solid 1px #999;
  border-bottom: 0px;
  background: #eee;
  padding: 0.5em 0.5em 0.5em 0.5em;
} 

.src-rows {
  float: left;
  text-align: right;
  color: #999;
  border: solid 1px #999;
  border-right: none;
  background: #eee;
  padding: 0.5em 0.5em 0.5em 0.5em;
} 

.src-rows a:link,
.src-rows a:visited,
.src-rows a:hover,
.src-rows a:active  { 
  text-decoration: none; 
  color: inherit;
}

.src-code {
  white-space: nowrap;
  border: solid 1px #999;
  background: #f9f9f9;
  padding: 0.5em 0.5em 0.5em 0.5em;
  overflow: auto;
}
